@font-face {
  font-family: "DMSans-Bold";
  src: url("./fonts/DMSans-Bold.ttf");
}
@font-face {
  font-family: "DMSans-BoldItalic";
  src: url("./fonts/DMSans-BoldItalic.ttf");
}
@font-face {
  font-family: "DMSans-Italic";
  src: url("./fonts/DMSans-Italic.ttf");
}
@font-face {
  font-family: "DMSans-Medium";
  src: url("./fonts/DMSans-Medium.ttf");
}
@font-face {
  font-family: "DMSans-MediumItalic";
  src: url("./fonts/DMSans-MediumItalic.ttf");
}
@font-face {
  font-family: "DMSans-Regular";
  src: url("./fonts/DMSans-Regular.ttf");
}

.css-bcskbc-MuiPaper-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.css-v6wbn9-MuiAvatar-root{
  margin-top: -51px !important;
}
.css-so23x5-MuiPaper-root{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

html {
  background-color: rgb(211, 219, 226);
  height: 100%;
}
.App {
  background-color: rgb(211, 219, 226);
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.MuiTabs-indicator {
  background-color: transparent !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
