@font-face {
  font-family: "DMSans-Bold";
  src: url("./fonts/DMSans-Bold.ttf");
}
@font-face {
  font-family: "DMSans-BoldItalic";
  src: url("./fonts/DMSans-BoldItalic.ttf");
}
@font-face {
  font-family: "DMSans-Italic";
  src: url("./fonts/DMSans-Italic.ttf");
}
@font-face {
  font-family: "DMSans-Medium";
  src: url("./fonts/DMSans-Medium.ttf");
}
@font-face {
  font-family: "DMSans-MediumItalic";
  src: url("./fonts/DMSans-MediumItalic.ttf");
}
@font-face {
  font-family: "DMSans-Regular";
  src: url("./fonts/DMSans-Regular.ttf");
}

html {
  background-color: #fff;
  height: 100%;
}
.App {
  background-color: #fff;
  background-size: cover;
  height: 100%;
}

.MuiTabs-indicator {
  background-color: transparent !important;
}

.css-bcskbc-MuiPaper-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.css-v6wbn9-MuiAvatar-root {
  margin-top: -51px !important;
}
.css-so23x5-MuiPaper-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.MuiPaper-root ::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}



.css-uey1ih-MuiDrawer-docked .MuiDrawer-paper {
  box-sizing: border-box;
  width: 460px !important;
  background-color: #fff;
}

.sidebarcontent{
  background-color:#F2F4F5;
  width: 460px;
  position: fixed;
  overflow-y: scroll;
 height: 80%;
  left: 0;
  top: 0;
 margin-top: 85px;
 text-align: center;
}
.bodycontent{
  width: 100%;
  left: 0;
  height: 880px;
  overflow-x: scroll;
margin-top: 30px;
margin-left: 42px;
}
.css-wqvb4u-MuiPaper-root {
 
  width: 454px !important;
  height: 800px !important;
}
.css-66mln3-MuiButtonBase-root-MuiTab-root {

  max-width: 360px;
  min-width: 115px !important;
 
}